In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('iraq_iran_earthquake.csv')

In [3]:
df

                                                 Tweet  Label
0    RT @PressTV: UPDATE: Death toll from Iran’s qu...      1
1    RT @CAFOD: We pray for all those affected by t...      0
2    RT @ReutersWorld: JUST IN: Death toll reaches ...      1
3    RT @LaylaAlhussein: A magnitude 7.2 earthquake...      1
4    RT @LaylaAlhussein: A magnitude 7.2 earthquake...      1
..                                                 ...    ...
592  Damage proxy maps of 5 cities near the epicent...      1
593  #Iran Daily: US Treasury Blocks Donations for ...      1
594  #Kurdish children's situation after the #earth...      1
595  #IRAN'S #EARTHQUAKE EXPOSES #POLITICAL RIFTS A...      1
596  Victims of last week's earthquake gather outdo...      1

[597 rows x 2 columns]

In [4]:
df.isnull().sum()

Tweet    0
Label    0
dtype: int64

In [5]:
def lower(x):
    return x.lower()
df['Tweet']=df['Tweet'].apply(lower)

In [6]:
df

                                                 Tweet  Label
0    rt @presstv: update: death toll from iran’s qu...      1
1    rt @cafod: we pray for all those affected by t...      0
2    rt @reutersworld: just in: death toll reaches ...      1
3    rt @laylaalhussein: a magnitude 7.2 earthquake...      1
4    rt @laylaalhussein: a magnitude 7.2 earthquake...      1
..                                                 ...    ...
592  damage proxy maps of 5 cities near the epicent...      1
593  #iran daily: us treasury blocks donations for ...      1
594  #kurdish children's situation after the #earth...      1
595  #iran's #earthquake exposes #political rifts a...      1
596  victims of last week's earthquake gather outdo...      1

[597 rows x 2 columns]

In [7]:
from emot.emo_unicode import UNICODE_EMOJI
# Function for converting emojis into word
def convert_emojis(text):
    for emot in UNICODE_EMOJI:
        text = text.replace(emot, "_".join(UNICODE_EMOJI[emot].replace(",","").replace(":","").split()))
    return text
df['Tweet']=df['Tweet'].apply(convert_emojis)

In [8]:
df

                                                 Tweet  Label
0    rt @presstv: update: death toll from iran’s qu...      1
1    rt @cafod: we pray for all those affected by t...      0
2    rt @reutersworld: just in: death toll reaches ...      1
3    rt @laylaalhussein: a magnitude 7.2 earthquake...      1
4    rt @laylaalhussein: a magnitude 7.2 earthquake...      1
..                                                 ...    ...
592  damage proxy maps of 5 cities near the epicent...      1
593  #iran daily: us treasury blocks donations for ...      1
594  #kurdish children's situation after the #earth...      1
595  #iran's #earthquake exposes #political rifts a...      1
596  victims of last week's earthquake gather outdo...      1

[597 rows x 2 columns]

In [9]:
from nltk.tokenize import word_tokenize
def tokenize(x):
    return word_tokenize(x)
df['Tweet']=df['Tweet'].apply(tokenize)

In [10]:
df

                                                 Tweet  Label
0    [rt, @, presstv, :, update, :, death, toll, fr...      1
1    [rt, @, cafod, :, we, pray, for, all, those, a...      0
2    [rt, @, reutersworld, :, just, in, :, death, t...      1
3    [rt, @, laylaalhussein, :, a, magnitude, 7.2, ...      1
4    [rt, @, laylaalhussein, :, a, magnitude, 7.2, ...      1
..                                                 ...    ...
592  [damage, proxy, maps, of, 5, cities, near, the...      1
593  [#, iran, daily, :, us, treasury, blocks, dona...      1
594  [#, kurdish, children, 's, situation, after, t...      1
595  [#, iran, 's, #, earthquake, exposes, #, polit...      1
596  [victims, of, last, week, 's, earthquake, gath...      1

[597 rows x 2 columns]

In [11]:
def remove_punct(x):
    import string
    punct_tag=set(string.punctuation)
    t=[i for i in x if i not in punct_tag]
    return t
      
df['Tweet']=df['Tweet'].apply(remove_punct)

In [12]:
df

                                                 Tweet  Label
0    [rt, presstv, update, death, toll, from, iran,...      1
1    [rt, cafod, we, pray, for, all, those, affecte...      0
2    [rt, reutersworld, just, in, death, toll, reac...      1
3    [rt, laylaalhussein, a, magnitude, 7.2, earthq...      1
4    [rt, laylaalhussein, a, magnitude, 7.2, earthq...      1
..                                                 ...    ...
592  [damage, proxy, maps, of, 5, cities, near, the...      1
593  [iran, daily, us, treasury, blocks, donations,...      1
594  [kurdish, children, 's, situation, after, the,...      1
595  [iran, 's, earthquake, exposes, political, rif...      1
596  [victims, of, last, week, 's, earthquake, gath...      1

[597 rows x 2 columns]

In [13]:
def whites(x):
    w={' '}
    x=[i for i in x if i not in w]
    return x
df['Tweet']=df['Tweet'].apply(whites)

In [14]:
df

                                                 Tweet  Label
0    [rt, presstv, update, death, toll, from, iran,...      1
1    [rt, cafod, we, pray, for, all, those, affecte...      0
2    [rt, reutersworld, just, in, death, toll, reac...      1
3    [rt, laylaalhussein, a, magnitude, 7.2, earthq...      1
4    [rt, laylaalhussein, a, magnitude, 7.2, earthq...      1
..                                                 ...    ...
592  [damage, proxy, maps, of, 5, cities, near, the...      1
593  [iran, daily, us, treasury, blocks, donations,...      1
594  [kurdish, children, 's, situation, after, the,...      1
595  [iran, 's, earthquake, exposes, political, rif...      1
596  [victims, of, last, week, 's, earthquake, gath...      1

[597 rows x 2 columns]

In [15]:
from nltk.corpus import stopwords
import nltk
def re_stop(x):
    nltk_stopwords = nltk.corpus.stopwords.words("english")
    return [ token for token in x if token not in nltk_stopwords]
df['Tweet']=df['Tweet'].apply(re_stop)

In [16]:
df

                                                 Tweet  Label
0    [rt, presstv, update, death, toll, iran, ’, qu...      1
1    [rt, cafod, pray, affected, earthquake, iraq, ...      0
2    [rt, reutersworld, death, toll, reaches, 328, ...      1
3    [rt, laylaalhussein, magnitude, 7.2, earthquak...      1
4    [rt, laylaalhussein, magnitude, 7.2, earthquak...      1
..                                                 ...    ...
592  [damage, proxy, maps, 5, cities, near, epicent...      1
593  [iran, daily, us, treasury, blocks, donations,...      1
594  [kurdish, children, 's, situation, earthquake,...      1
595  [iran, 's, earthquake, exposes, political, rif...      1
596  [victims, last, week, 's, earthquake, gather, ...      1

[597 rows x 2 columns]

In [17]:
from nltk.stem import WordNetLemmatizer
def lemm(x):
    l=[]
    for i in x:
        l.append(WordNetLemmatizer().lemmatize(i))
    return l    
df['Tweet']=df['Tweet'].apply(lemm)

In [18]:
from nltk.stem.porter import PorterStemmer
def stemm(x):
    l=[]
    for i in x:
        l.append(PorterStemmer().stem(i))
    return l    
df['Tweet']=df['Tweet'].apply(stemm)

In [19]:
# def combine(x):
#     return ' '.join(x)
# df['Tweet']=df['Tweet'].apply(combine)

In [20]:
df

                                                 Tweet  Label
0    [rt, presstv, updat, death, toll, iran, ’, qua...      1
1    [rt, cafod, pray, affect, earthquak, iraq, ira...      0
2    [rt, reutersworld, death, toll, reach, 328, ir...      1
3    [rt, laylaalhussein, magnitud, 7.2, earthquak,...      1
4    [rt, laylaalhussein, magnitud, 7.2, earthquak,...      1
..                                                 ...    ...
592  [damag, proxi, map, 5, citi, near, epicent, ke...      1
593  [iran, daili, u, treasuri, block, donat, earth...      1
594  [kurdish, child, 's, situat, earthquak, iran, ...      1
595  [iran, 's, earthquak, expos, polit, rift, inef...      1
596  [victim, last, week, 's, earthquak, gather, ou...      1

[597 rows x 2 columns]

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
X=df['Tweet']
glove={}
total_vocabulary = set(word for text in X for word in text)
with open(r"D:\deployment\abc\proj\media\glove.twitter.27B.100.txt", "rb") as f:
    for line in f:
        parts = line.split()
        word = parts[0].decode("utf-8")
        if word in total_vocabulary:
            vector = np.array(parts[1:], dtype=np.float32)
            glove[word] = vector

class W2vVectorizer(object):
    def __init__(self, w2v):
        self.w2v = w2v
        if len(w2v) == 0:
            self.dimensions = 0
        else:
            self.dimensions = len(w2v[next(iter(glove))])

    def fit(self, X, Y):
        return self

    def transform(self, X):
        return np.array([np.mean([self.w2v[w] for w in words if w in self.w2v] or [np.zeros(self.dimensions)],axis=0,) for words in X])

vectorizer = W2vVectorizer(glove)
X_glove = vectorizer.transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_glove,df['Label'], test_size=0.2)
X_train_vtc = X_train
X_test_vtc = X_test

In [22]:

# X_train, X_test, y_train, y_test = train_test_split(X,df['Label'], test_size=0.2,random_state=35)

In [23]:
from sklearn.linear_model import LogisticRegression
model_l=LogisticRegression().fit(X_train,y_train)
y_pred=model_l.predict(X_test)
score=classification_report(y_test, y_pred)
print(score)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        16
           1       0.86      0.97      0.91       104

    accuracy                           0.84       120
   macro avg       0.43      0.49      0.46       120
weighted avg       0.75      0.84      0.79       120

In [24]:
from sklearn.svm import SVC
rf_kn =SVC()
rf_model_kn = rf_kn.fit(X_train, y_train)
y_pred = rf_model_kn.predict(X_test)
score1=classification_report(y_test, y_pred)
print(score1)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        16
           1       0.87      1.00      0.93       104

    accuracy                           0.87       120
   macro avg       0.43      0.50      0.46       120
weighted avg       0.75      0.87      0.80       120

C:\Users\surya\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\surya\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\surya\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [25]:
from sklearn.tree import DecisionTreeClassifier
rf_kn = DecisionTreeClassifier()
rf_model_kn = rf_kn.fit(X_train, y_train)
y_pred = rf_model_kn.predict(X_test)
score1=classification_report(y_test, y_pred)
print(score1)

              precision    recall  f1-score   support

           0       0.21      0.25      0.23        16
           1       0.88      0.86      0.87       104

    accuracy                           0.78       120
   macro avg       0.55      0.55      0.55       120
weighted avg       0.79      0.78      0.78       120

In [26]:
from sklearn.ensemble import RandomForestClassifier
rf_kn = RandomForestClassifier()
rf_model_kn = rf_kn.fit(X_train, y_train)
y_pred = rf_model_kn.predict(X_test)
score1=classification_report(y_test, y_pred)
print(score1)

              precision    recall  f1-score   support

           0       0.75      0.19      0.30        16
           1       0.89      0.99      0.94       104

    accuracy                           0.88       120
   macro avg       0.82      0.59      0.62       120
weighted avg       0.87      0.88      0.85       120

In [27]:
from sklearn.neighbors import KNeighborsClassifier
rf_kn = KNeighborsClassifier()
rf_model_kn = rf_kn.fit(X_train, y_train)
y_pred = rf_model_kn.predict(X_test)
score1=classification_report(y_test, y_pred)
print(score1)

              precision    recall  f1-score   support

           0       0.40      0.12      0.19        16
           1       0.88      0.97      0.92       104

    accuracy                           0.86       120
   macro avg       0.64      0.55      0.56       120
weighted avg       0.81      0.86      0.82       120

In [28]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
y_pred = gnb.predict(X_test)
score1=classification_report(y_test, y_pred)
print(score1)

              precision    recall  f1-score   support

           0       0.31      0.56      0.40        16
           1       0.92      0.81      0.86       104

    accuracy                           0.78       120
   macro avg       0.62      0.69      0.63       120
weighted avg       0.84      0.78      0.80       120

In [29]:
import xgboost as xgb
xgb_model = xgb.XGBRegressor(objective="binary:logistic", random_state=42)
xgb_model.fit(X_train, y_train)
y_pred=xgb_model.predict(X_test)
score1=classification_report(y_test,y_pred.round())
print(score1)

              precision    recall  f1-score   support

           0       0.60      0.38      0.46        16
           1       0.91      0.96      0.93       104

    accuracy                           0.88       120
   macro avg       0.75      0.67      0.70       120
weighted avg       0.87      0.88      0.87       120

In [30]:
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import StackingClassifier

estimator_list = [
        ("knn", KNeighborsClassifier()),
        ("svm_rbf", SVC()),
        ("dt", DecisionTreeClassifier()),
        ("rf", RandomForestClassifier()),
        ("mlp", MLPClassifier(alpha=1, max_iter=1000)),
    ]
stack_model = StackingClassifier(
        estimators=estimator_list, final_estimator=LogisticRegression()
    )
stack_model.fit(X_train, y_train)
y_pred = stack_model.predict(X_test)
score = classification_report(y_test, y_pred)
print(score)

              precision    recall  f1-score   support

           0       0.75      0.38      0.50        16
           1       0.91      0.98      0.94       104

    accuracy                           0.90       120
   macro avg       0.83      0.68      0.72       120
weighted avg       0.89      0.90      0.89       120