In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('mexico_earthquake.csv')

In [3]:
df

                                                  Tweet  Label
0     RT @FCBarcelona: Our solidarity with the victi...      0
1     Mexico earthquake: Many children killed at pri...      1
2     Obamaâ€™s Response To The Earthquake In #Mexic...      0
3     RT @AmichaiStein1: #BREAKING: Israel search &a...      1
4     RT @AmichaiStein1: #BREAKING: Israel search &a...      1
...                                                 ...    ...
1375  Carlos santana donates $100k to mexico earthqu...      1
1376  Seth troxler donates 10k to earthquake relief ...      1
1377  Entercom/San Francisco Stations Raise Funds Fo...      1
1378  Mexico Earthquakes | International Medical Cor...      1
1379  Napa school employee Valentin Fuentes Villanue...      1

[1380 rows x 2 columns]

In [4]:
df.isnull().sum()

Tweet    0
Label    0
dtype: int64

In [5]:
def lower(x):
    return x.lower()
df['Tweet']=df['Tweet'].apply(lower)

In [6]:
df

                                                  Tweet  Label
0     rt @fcbarcelona: our solidarity with the victi...      0
1     mexico earthquake: many children killed at pri...      1
2     obamaâ€™s response to the earthquake in #mexic...      0
3     rt @amichaistein1: #breaking: israel search &a...      1
4     rt @amichaistein1: #breaking: israel search &a...      1
...                                                 ...    ...
1375  carlos santana donates $100k to mexico earthqu...      1
1376  seth troxler donates 10k to earthquake relief ...      1
1377  entercom/san francisco stations raise funds fo...      1
1378  mexico earthquakes | international medical cor...      1
1379  napa school employee valentin fuentes villanue...      1

[1380 rows x 2 columns]

In [7]:
from emot.emo_unicode import UNICODE_EMOJI
# Function for converting emojis into word
def convert_emojis(text):
    for emot in UNICODE_EMOJI:
        text = text.replace(emot, "_".join(UNICODE_EMOJI[emot].replace(",","").replace(":","").split()))
    return text
df['Tweet']=df['Tweet'].apply(convert_emojis)

In [8]:
df

                                                  Tweet  Label
0     rt @fcbarcelona: our solidarity with the victi...      0
1     mexico earthquake: many children killed at pri...      1
2     obamaâ€trade_marks response to the earthquake ...      0
3     rt @amichaistein1: #breaking: israel search &a...      1
4     rt @amichaistein1: #breaking: israel search &a...      1
...                                                 ...    ...
1375  carlos santana donates $100k to mexico earthqu...      1
1376  seth troxler donates 10k to earthquake relief ...      1
1377  entercom/san francisco stations raise funds fo...      1
1378  mexico earthquakes | international medical cor...      1
1379  napa school employee valentin fuentes villanue...      1

[1380 rows x 2 columns]

In [9]:
from nltk.tokenize import word_tokenize
def tokenize(x):
    return word_tokenize(x)
df['Tweet']=df['Tweet'].apply(tokenize)

In [10]:
df

                                                  Tweet  Label
0     [rt, @, fcbarcelona, :, our, solidarity, with,...      0
1     [mexico, earthquake, :, many, children, killed...      1
2     [obamaâ€trade_marks, response, to, the, earthq...      0
3     [rt, @, amichaistein1, :, #, breaking, :, isra...      1
4     [rt, @, amichaistein1, :, #, breaking, :, isra...      1
...                                                 ...    ...
1375  [carlos, santana, donates, $, 100k, to, mexico...      1
1376  [seth, troxler, donates, 10k, to, earthquake, ...      1
1377  [entercom/san, francisco, stations, raise, fun...      1
1378  [mexico, earthquakes, |, international, medica...      1
1379  [napa, school, employee, valentin, fuentes, vi...      1

[1380 rows x 2 columns]

In [11]:
def remove_punct(x):
    import string
    punct_tag=set(string.punctuation)
    t=[i for i in x if i not in punct_tag]
    return t
      
df['Tweet']=df['Tweet'].apply(remove_punct)

In [12]:
df

                                                  Tweet  Label
0     [rt, fcbarcelona, our, solidarity, with, the, ...      0
1     [mexico, earthquake, many, children, killed, a...      1
2     [obamaâ€trade_marks, response, to, the, earthq...      0
3     [rt, amichaistein1, breaking, israel, search, ...      1
4     [rt, amichaistein1, breaking, israel, search, ...      1
...                                                 ...    ...
1375  [carlos, santana, donates, 100k, to, mexico, e...      1
1376  [seth, troxler, donates, 10k, to, earthquake, ...      1
1377  [entercom/san, francisco, stations, raise, fun...      1
1378  [mexico, earthquakes, international, medical, ...      1
1379  [napa, school, employee, valentin, fuentes, vi...      1

[1380 rows x 2 columns]

In [13]:
def whites(x):
    w={' '}
    x=[i for i in x if i not in w]
    return x
df['Tweet']=df['Tweet'].apply(whites)

In [14]:
df

                                                  Tweet  Label
0     [rt, fcbarcelona, our, solidarity, with, the, ...      0
1     [mexico, earthquake, many, children, killed, a...      1
2     [obamaâ€trade_marks, response, to, the, earthq...      0
3     [rt, amichaistein1, breaking, israel, search, ...      1
4     [rt, amichaistein1, breaking, israel, search, ...      1
...                                                 ...    ...
1375  [carlos, santana, donates, 100k, to, mexico, e...      1
1376  [seth, troxler, donates, 10k, to, earthquake, ...      1
1377  [entercom/san, francisco, stations, raise, fun...      1
1378  [mexico, earthquakes, international, medical, ...      1
1379  [napa, school, employee, valentin, fuentes, vi...      1

[1380 rows x 2 columns]

In [15]:
from nltk.corpus import stopwords
import nltk
def re_stop(x):
    nltk_stopwords = nltk.corpus.stopwords.words("english")
    return [ token for token in x if token not in nltk_stopwords]
df['Tweet']=df['Tweet'].apply(re_stop)

In [16]:
df

                                                  Tweet  Label
0     [rt, fcbarcelona, solidarity, victims, earthqu...      0
1     [mexico, earthquake, many, children, killed, p...      1
2     [obamaâ€trade_marks, response, earthquake, mex...      0
3     [rt, amichaistein1, breaking, israel, search, ...      1
4     [rt, amichaistein1, breaking, israel, search, ...      1
...                                                 ...    ...
1375  [carlos, santana, donates, 100k, mexico, earth...      1
1376  [seth, troxler, donates, 10k, earthquake, reli...      1
1377  [entercom/san, francisco, stations, raise, fun...      1
1378  [mexico, earthquakes, international, medical, ...      1
1379  [napa, school, employee, valentin, fuentes, vi...      1

[1380 rows x 2 columns]

In [17]:
from nltk.stem import WordNetLemmatizer
def lemm(x):
    l=[]
    for i in x:
        l.append(WordNetLemmatizer().lemmatize(i))
    return l    
df['Tweet']=df['Tweet'].apply(lemm)

In [18]:
from nltk.stem.porter import PorterStemmer
def stemm(x):
    l=[]
    for i in x:
        l.append(PorterStemmer().stem(i))
    return l    
df['Tweet']=df['Tweet'].apply(stemm)

In [19]:
# def combine(x):
#     return ' '.join(x)
# df['Tweet']=df['Tweet'].apply(combine)

In [20]:
df

                                                  Tweet  Label
0     [rt, fcbarcelona, solidar, victim, earthquak, ...      0
1     [mexico, earthquak, mani, child, kill, primari...      1
2     [obamaâ€trade_mark, respons, earthquak, mexico...      0
3     [rt, amichaistein1, break, israel, search, amp...      1
4     [rt, amichaistein1, break, israel, search, amp...      1
...                                                 ...    ...
1375  [carlo, santana, donat, 100k, mexico, earthqua...      1
1376  [seth, troxler, donat, 10k, earthquak, relief,...      1
1377  [entercom/san, francisco, station, rais, fund,...      1
1378  [mexico, earthquak, intern, medic, corp, http,...      1
1379  [napa, school, employe, valentin, fuent, villa...      1

[1380 rows x 2 columns]

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
X=df['Tweet']
glove={}
total_vocabulary = set(word for text in X for word in text)
with open(r"D:\deployment\abc\proj\media\glove.twitter.27B.100.txt", "rb") as f:
    for line in f:
        parts = line.split()
        word = parts[0].decode("utf-8")
        if word in total_vocabulary:
            vector = np.array(parts[1:], dtype=np.float32)
            glove[word] = vector

class W2vVectorizer(object):
    def __init__(self, w2v):
        self.w2v = w2v
        if len(w2v) == 0:
            self.dimensions = 0
        else:
            self.dimensions = len(w2v[next(iter(glove))])

    def fit(self, X, Y):
        return self

    def transform(self, X):
        return np.array([np.mean([self.w2v[w] for w in words if w in self.w2v] or [np.zeros(self.dimensions)],axis=0,) for words in X])

vectorizer = W2vVectorizer(glove)
X_glove = vectorizer.transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_glove,df['Label'], test_size=0.2)
X_train_vtc = X_train
X_test_vtc = X_test

In [22]:

# X_train, X_test, y_train, y_test = train_test_split(X,df['Label'], test_size=0.2,random_state=35)

In [23]:
from sklearn.linear_model import LogisticRegression
model_l=LogisticRegression().fit(X_train,y_train)
y_pred=model_l.predict(X_test)
score=classification_report(y_test, y_pred)
print(score)

              precision    recall  f1-score   support

           0       0.58      0.25      0.35        71
           1       0.78      0.94      0.85       205

    accuracy                           0.76       276
   macro avg       0.68      0.60      0.60       276
weighted avg       0.73      0.76      0.72       276

In [24]:
from sklearn.svm import SVC
rf_kn =SVC()
rf_model_kn = rf_kn.fit(X_train, y_train)
y_pred = rf_model_kn.predict(X_test)
score1=classification_report(y_test, y_pred)
print(score1)

              precision    recall  f1-score   support

           0       1.00      0.11      0.20        71
           1       0.76      1.00      0.87       205

    accuracy                           0.77       276
   macro avg       0.88      0.56      0.53       276
weighted avg       0.83      0.77      0.70       276

In [25]:
from sklearn.tree import DecisionTreeClassifier
rf_kn = DecisionTreeClassifier()
rf_model_kn = rf_kn.fit(X_train, y_train)
y_pred = rf_model_kn.predict(X_test)
score1=classification_report(y_test, y_pred)
print(score1)

              precision    recall  f1-score   support

           0       0.46      0.42      0.44        71
           1       0.81      0.83      0.82       205

    accuracy                           0.72       276
   macro avg       0.63      0.63      0.63       276
weighted avg       0.72      0.72      0.72       276

In [26]:
from sklearn.ensemble import RandomForestClassifier
rf_kn = RandomForestClassifier()
rf_model_kn = rf_kn.fit(X_train, y_train)
y_pred = rf_model_kn.predict(X_test)
score1=classification_report(y_test, y_pred)
print(score1)

              precision    recall  f1-score   support

           0       0.94      0.23      0.36        71
           1       0.79      1.00      0.88       205

    accuracy                           0.80       276
   macro avg       0.86      0.61      0.62       276
weighted avg       0.83      0.80      0.75       276

In [27]:
from sklearn.neighbors import KNeighborsClassifier
rf_kn = KNeighborsClassifier()
rf_model_kn = rf_kn.fit(X_train, y_train)
y_pred = rf_model_kn.predict(X_test)
score1=classification_report(y_test, y_pred)
print(score1)

              precision    recall  f1-score   support

           0       0.71      0.17      0.27        71
           1       0.77      0.98      0.86       205

    accuracy                           0.77       276
   macro avg       0.74      0.57      0.57       276
weighted avg       0.76      0.77      0.71       276

In [28]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
y_pred = gnb.predict(X_test)
score1=classification_report(y_test, y_pred)
print(score1)

              precision    recall  f1-score   support

           0       0.44      0.42      0.43        71
           1       0.80      0.81      0.81       205

    accuracy                           0.71       276
   macro avg       0.62      0.62      0.62       276
weighted avg       0.71      0.71      0.71       276

In [29]:
import xgboost as xgb
xgb_model = xgb.XGBRegressor(objective="binary:logistic", random_state=42)
xgb_model.fit(X_train, y_train)
y_pred=xgb_model.predict(X_test)
score1=classification_report(y_test,y_pred.round())
print(score1)

              precision    recall  f1-score   support

           0       0.62      0.28      0.39        71
           1       0.79      0.94      0.86       205

    accuracy                           0.77       276
   macro avg       0.71      0.61      0.62       276
weighted avg       0.75      0.77      0.74       276

In [30]:
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import StackingClassifier

estimator_list = [
        ("knn", KNeighborsClassifier()),
        ("svm_rbf", SVC()),
        ("dt", DecisionTreeClassifier()),
        ("rf", RandomForestClassifier()),
        ("mlp", MLPClassifier(alpha=1, max_iter=1000)),
    ]
stack_model = StackingClassifier(
        estimators=estimator_list, final_estimator=LogisticRegression()
    )
stack_model.fit(X_train, y_train)
y_pred = stack_model.predict(X_test)
score = classification_report(y_test, y_pred)
print(score)

              precision    recall  f1-score   support

           0       0.75      0.30      0.42        71
           1       0.80      0.97      0.87       205

    accuracy                           0.79       276
   macro avg       0.77      0.63      0.65       276
weighted avg       0.79      0.79      0.76       276